
<nav *ngIf="nav.visible" class="navbar navbar-expand fixed-top"  id="nav-main">  
  <a class="nav-link " routerLink="iniNav">
    <img src="assets/_img/logoBrancoOficial.png" class="rounded float-left"  id="logoOficial" alt="Logo Oficial">
  </a>
  <div class="container" >
  
    <ul class="navbar-nav navbar-expand mx-auto ">
        <li class="nav-item"  id="menu" routerLinkActive="active" >
          <a class="nav-link" id="nav-font" routerLink="museu" routerLinkActive="selected"> O Museu</a>
        </li>
      
                <!--  <li class="nav-item"  id="menu" routerLinkActive="active">
                    <a class="nav-link" id="nav-font" routerLink="acervo" routerLinkActive="selected"> Acervo</a>
                  </li>
                
                  <li class="nav-item"  id="menu" routerLinkActive="active">
                    <a class="nav-link" id="nav-font" routerLink="timeline" routerLinkActive="selected"> Agenda </a>
                  </li>
                -->
        <li class="nav-item"  id="menu" routerLinkActive="active">
          <a class="nav-link" id="nav-font" routerLink="noticias" routerLinkActive="selected"> Notícias</a>
        </li>
        <li class="nav-item"  id="menu" routerLinkActive="active">
          <a class="nav-link" id="nav-font" routerLink="informacoes" routerLinkActive="selected"> Informações</a>
        </li>
<!--        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="cursor: pointer; text-transform: capitalize;">
            Usuário
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" style="cursor: pointer">
              Sair
            </a>
          </div>
        </li>
        <button class="btn btn-success">Entrar</button>
-->
      </ul>
  </div>
</nav>
