@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Pridi:wght@700&family=Roboto:wght@400&family=Merriweather&Martel:wght@800&display=swap   ');
body{
    background: url('assets/_img/museuGallery/imgFundo.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 100%;
}
.recuo { text-indent: 3em }
/* ----------------------------------------
            Loader Stuff
----------------------------------------*/
.loader-wraper{
    width: 100%;
    height: 100%;
    position: absolute;
}
#logoOficial{
    margin-top: 20;
    margin-left: 30;
    width: 140px;
    height: 55px;
}
.content{
    position: relative;
    padding-top: 140px;
    background-color:rgba(0, 0, 0, 0.65);
}
#firstTitulo{
    position: relative;
    color: white;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: 70px;
    z-index: 4;
}
#firstTituloA{
  position: relative;
  color: white;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  margin-right: auto;
  padding-top: 45px;
  margin-bottom: 70px;
  z-index: 4;
}

#textGeral{
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
    line-height: 150%;
    display: block;
    align-items: center;
}
.notImplemented{
    padding-top: 180px;
    color: white;
    padding: 3em;
    width: 50%;
    margin-top: 150px;
    margin: 0em auto 10em;
  
}

/*------------------------------------------------------------------
                 INITNAV GALERIA + Sidenav
----------------------------------------------------------------*/
.galeria {
  align-items: center;
  width: 100%;
  height: 100%;   
  position: absolute;
  overflow: hidden;
  margin: auto;
  z-index: 1;
}
.foto{
  position: absolute;
  align-items: center;
  width: 100%;
  height:100%;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes animacao {
  25%{
    opacity: 1;
    transform: scale(1.1,1.1); 
  }
  50%{
    opacity: 0;
  }
}
.foto:nth-child(1){
  }
.foto:nth-child(2){
    animation-delay: 5s;
  }
.foto:nth-child(3){
  animation-delay: 10s;
  }
.foto:nth-child(4){
  animation-delay: 15s;
  }
/*
sidenav
*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 5.6%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  right: 0;
  background-color:rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
  border: 0 transparent ;
}
@media screen and (min-width:1400px){
  .sidenav{
      width: 5.6%;
  }
  button{
  left: 20px; 
   }
  #initNav{
      margin-left:45px;
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      right: 60px;
      font-size: 90px;
  }
  #sideItem{
      font-size: 90px;
  }
}
#initFa2{ 
  z-index: 1;
  color: white;
  background-color: transparent;
  margin-left: 8px;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  z-index: 1;
  border: 0 transparent
}

/* The navigation menu links */
.sidenav a {
  top: 50%;
  margin-right: 40px; 
  color: white;
}
#sideItem{
  color: white;
  font-family: Pridi;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  font-size: 64px;
  margin: 25px;
  
  line-height: 1.5%;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #967440;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#initNav {
  transition: margin-left .7s;
  padding: 20px;
  top: 50%;
  transform: translate(0, -40%);
  position: absolute;
  right: 20px
}

/* Ajusta tamanho de fonte e espaçamento em telas pequenas) */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ----------------------------------------------------
        Aqui temos o CSS do NAVBAR PRINCIPAL
   ----------------------------------------------------*/
#nav-main{
    position:fixed;
    z-index: 80;
    background-color:rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(3px);
	  width:100%;
    height:95px;
    margin-top: 0px;
}
#nav-font{   
    width:159.76px;
    height: 40px;
    color: white;
    font-family: Martel;
	text-align:right;
    font-size:24px;
	letter-spacing: 1.5;
}
#menu a{
  font-weight: 900;
    margin-right: 60px;
    position: relative;
    width: fit-content;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  /* alterado  */
  #menu a:hover, a:active  {
  color: #967440;
  border-right: 5px solid white;
  border-left: 5px solid white;
  }
 .ass{
  border-right:5px solid white;
  border-left: 5px solid white;
  background-color: rgb(53, 53, 53);
}
#menu a:focus {
  border-right:5px solid white;
  border-left: 5px solid white;
  color: #967440;
  font-weight: 900;
}
/*  antigo */
#menu ul li a:visited{
  border-right:5px solid white;
  border-left: 5px solid white;
}
/* ----------------------------------------------------
            Footer 
   ----------------------------------------------------*/
   footer{
    background-color: rgba(0, 0, 0, 0.95);
    clear: both; 
}
#footerEspace{
    padding-top: 60px;
}
#footerContainer{
    border-top:1px solid rgb(255, 255, 255); 
    width: 100%;
    height: 400px;
    left: 100px;
    right: 100px;
}
#card1 { 
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin-top: 70px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
	font-style: bold;
    font-weight: 900;
    font-size: 18px;
    text-align: left;
    line-height: 23px;
    letter-spacing: -0.015em;
}
#cardCentro { 
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin-top: 70px;
    color: white;
    font-family: Merriweather;
	font-style: bold;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
    letter-spacing: -0.015em;
}
#textCentro {     
    margin-top: 21px;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15px;
    height: 22px;
    bottom: 247.56px;   
}
#textCard {     
    margin-top: 21px;
    text-align: left;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15px;
    height: 22px;
    bottom: 247.56px;   
}
.fa-envelope,
.fa-phone-alt{
    color: white;
    size: 5x;
}
#sapateiro{
    position: relative;
    width: 103px;
    height: 103px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -15px;
}
#logoFeevale{
    color: white;
    position: relative;
    width: 169px;
    height: 42px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
/* ----------------------------------------------------
            O MUSEU     
   ----------------------------------------------------*/
   
#museuContainer{
    width: 100%;
    max-width: 900px;
    width: auto;
}
#tituloMuseu{
    color: white;
    position: relative;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
#tituloLinhaTempo{
    color: white;
    position: relative;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    display: block;
    align-items: left;
    text-align: left;
}
#videoPlayer{
    position: relative;
    margin-top: 80px;
    align-items: center;
}
#galleyCont{
    position: relative;
    margin-top: 80px;
    align-content: center;
}
#galleryGeral{
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    width: auto; 
}
/*-- Aqui começa o Decreto --*/
#textDecreto{
    color: white;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
    line-height: 150%;
    display: block;
    align-items: center;
    width: auto;
}
#decretoIcon{
    position: relative;
    width: 235px;
    height: 306px;
    margin-top: auto;
    margin-bottom: auto; 
}
/* -         Aqui começam o itens #timeLine          -*/
/*- #timeLine{
    margin-top: 80px;
    padding-bottom: 60px;
} */
#tl01{ 
    position: relative;
    width: 235.92px;
    height: 214px;
    float: right;
}
#tl02{  
    width: 458px;
    height: 102px;
    left: 559px;
    top: 112px;
}
#tl03{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    height: 110px;
    
}
#imgLink :hover{
    color: #967440;
    transform: scale(1.1);
}
.grow { 
    transition: all .2s ease-in-out;
 }
/* ----------------------------------------------------
            Carousel 
   ----------------------------------------------------*/

   .carousel-control-prev-icon,
   .carousel-control-next-icon,
   .carousel-indicators {
     display: none;
   }
   #carousel {
       background-color:rgba(0, 0, 0, 0.2);
       align-items: center;
       width: 100%;
       height: 700px;   
   }
   
   
   
/* ----------------------------------------------------
        Acervo
   ----------------------------------------------------*/
  .faixa{ 
        width: 980px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -45px;
        background-color: rgba(0,0,0,0.6);
  }
/* ----------------------------------------------------
        Agenda
   ----------------------------------------------------*/
#agendaID{
  display: flex;
  flex-wrap: inherit;
  margin-right: -15px;
  margin-left: -15px;
}

#calendario{
    background-color: rgba(182, 182, 182, 0.3);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 310px;
    border-radius: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 15px;
}

table{
  border: transparent;
}

calendar-table-header-divider::after{
  padding: 0 0 0 0;    
} 
.mat-calendar-table-header{
  color: white;
}

.mat-calendar-body-label{
  color: white;
  text-align: center;
}
.mat-calendar-body-cell-content{
  color: white;
/*  border: 1px solid white;*/ 
}

.mat-calendar-body-cell-content {
    position: absolute;
    top: -100%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
    width: 90%;
    height: 90%;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px !important;
}
.mat-calendar-body-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: transparent !important;
  /* text-align: center; 
    Controla label do calendario, td tr
  */
}
.mat-calendar-spacer {
  /* controla o espaçamento do passador com o seletor mês calendário. */
  flex: 0.5 1 auto !important;
}

.mat-calendar-body-today.mat-calendar-body-selected{
  background-color:  #967440;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected){
  border: 2px solid #967440;
  color: white;
}
.mat-calendar-body-selected{
  background-color:  #967440;
}




#agendaContainer{
    /*margin-left: 25%;
    margin-right: 2.5%;*/
    width: 1100px;
}
.ted{
    width: 387px;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
}
.card-wrap {
    border: 0.1px solid rgba(255, 255, 255, 0.023);
    width: 387px;
    position: relative;
    overflow: hidden;
}
.card-wrap img {
    z-index: 1;
}
.agendaTitulo{
    font-family: Martel;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 110%;
    /* or 44px */
    text-align: justify;
    position: absolute;
    overflow: hidden;
    z-index: 4;
    margin-top: 205px;
    margin-left: 10px;
    text-decoration:none;
}
a:hover {
    color: #967440;
    text-decoration: none;
}




#date1{
    color: white;
    font-size: 40px;
    border:2px solid #967440;
    z-index: 6;
    font-family: Martel;
    font-style: normal;
    position: absolute;
    text-align: center;
    align-content: center;
    width: 65px;
    height: 40px;
    margin-left: 15px;
    margin-top: 14px;
    padding-top: 4px;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* width and color */
}
#date2{
    color: white;
    font-size: 17px;
    border:2px solid #967440;
    z-index: 6;
    font-family: Martel;
    font-style: normal;
    position: absolute;
    text-align: center;
    width: 65px;
    height: 33px;
    margin-left: 15px;
    margin-top: 52px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); /* width and color */
}
#cardBody {
    position: relative;
    background-color: rgba(0, 0, 0, 0.064);
    color: rgb(255, 255, 255);
    z-index: 4;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    padding-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;   
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#size__card{
    margin: 10px;
}
.img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 1%, rgba(0,0,0,1) 3%, rgba(0,0,0,0.30155812324929976) 100%, rgba(0,0,0,0) 99%);
    z-index: 3;
}
.imgAgenda{
    z-index: 1;
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.5s ease;
}
.imgAgenda:hover{
    z-index: 6;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}




/*--------------------------------------------------
                    timeline
--------------------------------------------------*/
#timelineContent{
    position: relative;
    max-width: 100%;
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.85);
    padding-bottom:calc( 100% / (var(--aspect-ratio)) );
  }
  #tesTL{
      margin-top: 760px;
      
  }
/*--------------------------------------------------
                Informacoes 
-------------------------------------------------- */
#inforTitulo{
  position: relative;
  color: white;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  display: block;
  text-align: left;
  margin-right: auto;
  margin-bottom: 70px;
  z-index: 4;
}
#informa {
    display: contents;
    width: 100%;
    max-width: 900px;
    
}
#informacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#textInfor{
    color: white;
    position: relative;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    margin-top: 60px;
    margin-bottom: 70px;  
}
#formInformacoes{
    width: 400px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
}
#inputNome,
#inputEmail,
#inputAssunto,
#inputMensagem,
#placeholder{
    background-color: #B5B5B5;
    color: #797979;
    font-family: 'Roboto', sans-serif; 
    border: 2px solid white   
}
#contatoBtn{
  background-color: #967440;
  color:white;
  border: 1px solid white;
}
#contatoBtn:hover{
  background-color: #109510;
  color:white;
  border: 1px solid white;
}
#inforSepara1{
  margin-left: -50px;
}
#inforSepara2{
  margin-right: -50px;
}
#googleMaps{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.efeitoBlack{
    z-index: 6;
    background-image: -webkit-linear-gradient(bottom rgb(0, 0, 0), rgba(96, 96, 96, 0));
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(97, 97, 97, 0));
  }
  /*----------------------------------------------------
                    Acervo
  ----------------------------------------------------*/
  



/* ----------------------------------------------------
        Elementos adicionais
   ----------------------------------------------------*/

   #toastr-container > div {
    opacity: 1;
}




/* ----------------------------------------------------
       Timeline
   ----------------------------------------------------*/
.cd-horizontal-timeline {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: auto;
    background-color:rgba(0, 0, 0, 0.65);
 
    padding-top: 180px;
  }
 
 
  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    
  }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
    color: transparent;
  }
  .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
  }
  .cd-horizontal-timeline .events-wrapper::before {
    left: 0;
    background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
  }
  .cd-horizontal-timeline .events-wrapper::after {
    right: 0;
    background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
  }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #967440;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
    color: #383838;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #967440;
    border-color: #967440;
  }
  .cd-horizontal-timeline .events a.selected {
    pointer-events: none;
  }
  .cd-horizontal-timeline .events a.selected::after {
    background-color: #967440;
    border-color: #967440;
  }
  .cd-horizontal-timeline .events a.older-event::after {
    border-color: #967440;
  }
  
  
  .cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
  }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/_img/cd-arrow.svg') no-repeat 0 0;
  }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  .cd-timeline-navigation a.next {
    right: 0;
  }
  .no-touch .cd-timeline-navigation a:hover {
    border-color: #967440;
  }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed;
  }
  .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
  }
  .no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
  }
  
  .cd-horizontal-timeline .events-content {
    position: relative;
    width:100%;
    height: 100%;
     overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
  }
  .cd-horizontal-timeline .events-content li {
    list-style-type: none;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  .cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    opacity: 1;
  }
  .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
  }
  .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
  }
  .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
  }
  .cd-horizontal-timeline .events-content li > * {
    max-width: 800px;
    list-style-type: none;
    margin: 0 auto;
  }
  .cd-horizontal-timeline .events-content h2 {
    list-style-type: none;
  
    font-weight: bold;
    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.2;
  }
  .cd-horizontal-timeline .events-content em {
      list-style-type: none;
  
    display: block;
    font-style: italic;
    margin: 10px auto;
    color: white;
    width: 65%;
    height: 100%;
    }
  .cd-horizontal-timeline .events-content em::before {
    content: '- ';
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 15px;
    color: white;
    width: 50%;
    height: 100%;
  }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6;
  }
  @media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
      font-size: 7rem;
    }
    .cd-horizontal-timeline .events-content em {
      font-size: 20px;
    }
    .cd-horizontal-timeline .events-content p {
      font-size: 1.8rem;
    }
  }
  
  #textTimeline{
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
    line-height: 150%;
    display: block;
    align-items: center;
  }
  
  #tituloTimeline{
    position: relative;
    color: white;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: 10px;
  }



