<div class="content">
  <div class="container" id="agendaContainer">
    <h1 id="firstTitulo">
      Agenda de Exposições e Eventos
    </h1>
    <div class="row">
      <div class="col">
        <mat-calendar id="calendario" [selected]="selectedDate" (selectedChange)="onSelect($event)"> </mat-calendar>
      </div>

      <div class="ted">
        <div class="card-wrap">
          <h3 id="date1">20</h3>
          <h3 id="date2">Quinta</h3>
          <a class="agendaTitulo" routerLink="/evento">  Título 1 </a>
          <img class="imgAgenda" src="/assets/_img/agenda/card1.jpg" alt="Card image cap" />
          <div class="img-overlay"></div>
          <div id="size__card">
            <p class="recuo" id="cardBody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Id
              consectetur purus ut faucibus pulvinar elementum integer enim
              neque. Facilisis mauris sit amet massa vitae tortor condimentum.
              Sit amet consectetur adipiscing elit pellentesque habitant morbi
              tristique. Mauris sit amet massa vitae tortor condimentum lacinia.
              Aliquam faucibus purus in massa
            </p>
          </div>
        </div>
      </div>

      <div class="ted">
        <div class="card-wrap">
          <h3 id="date1">31</h3>
          <h3 id="date2">Sexta</h3>
          
            <a class="agendaTitulo" routerLink="/evento">  20 Anos do Museu </a>
          
            <img class="imgAgenda" src="/assets/_img/agenda/card2.jpg" alt="Card image cap" />
            <div class="img-overlay"></div>
            <div id="size__card"> 
              <p class="recuo" id="cardBody">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                eos qui ratione voluptatem sequi nesciunt.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
