
<div id="content">
  <mat-calendar> </mat-calendar>
  <div class="container" id="agendaContainer">
    <h1 id="agendaTitulo">Agenda de Exposições e Eventos</h1>
  
    <div class="row col-lg">
      <div class="col-6">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/_img/agenda/card2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <a href="http://www.feevale.br/">
              <h2 class="card-title">Special title treatment</h2></a
            >
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/_img/agenda/card1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <a href="http://www.feevale.br/"
              ><h2 class="card-title">Special title treatment</h2></a
            >
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/_img/agenda/card1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <a href="http://www.feevale.br/">
              <h2 class="card-title">Special title treatment</h2></a
            >
            <p class="card-text">
              "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>