
.contentNoticias{
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 45px;
    background-color: white;
    z-index: auto;    
}

#espacoNt{
    margin-top: 20px;
}
#mainTitulo{
    position: relative;
    color: black;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: 70px;
}

li {
    list-style-type: none;
}

#linha-horizontal {
    border: solid rgb(88, 88, 88);
	border-width: 0.2em ;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    margin: 0 auto;
    width: 1000px;
}

#noticiaTitulo{
    font-family: Merriweather;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    margin-left: 20px;
    text-align: justify;
}

#noticiaAssunto{
    font-family: Merriweather;
    font-style: normal;
    font-size: 19px;
    line-height: 25px;
    margin-left: 15px;
}

#noticiaInfoExtra{
    font-family: Merriweather;
    font-style: normal;
    font-size: 15px;
    text-overflow: ellipsis; 
    color: rgb(77, 77, 77);
    margin-left: 20px;
    margin-top: 8px;
}

#image{
    margin-left: 20px;
    height: 60mm;
    width: 80mm;
}
/* date:"dd/MM/yyyy" -- */ 

@media screen and (max-width : 480px) {

    .contentNoticias{
        width: 100%;
        height: 100%;
        
        background-color: white;
        z-index: auto;
        
    }
    #noticiaContainer{
        width: 100%;
        height: auto;
        margin-left: 0;
        z-index: auto;
    }
    #linha-horizontal {
        width: 80%;
        margin: 0 0;
    }
    #image{
        margin-left: 0px;
        max-height: 60mm;
        max-width: 80mm;
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    #noticiaTitulo{
        font-family: Merriweather;
        font-style: bold;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        text-align: justify;
        margin-left: 0px;
    }
    #noticiaAssunto{
        font-family: Merriweather;
        font-style: normal;
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
        margin-left: 0px;
    }
   
}