<div class="content">
  <div class="container" id="ensinoContent">
    <h2 id="firstTitulo">Atividades de Ensino</h2>
      <p id="textGeral">
        Apoiado pela Universidade Feevale e entidades empresariais, o MNC possibilita diversas atividades de ensino, sendo um agente cultural, educacional e de pesquisa voltada ao setor produtivo, à cultura material e à comunidade.
      </p>
      <p id="textGeral">
        Alunos do ensino fundamental ao doutorado podem visitar o espaço e participar de projetos através das exposições, visitas guiadas, pesquisas, realização de fotos, documentários, concursos, palestras e exposições itinerantes, atividades que fazem do MNC um espaço dinâmico e interativo.
      </p>
  </div>
</div>