<footer *ngIf="nav.visible" id="footerEspace">
  <div class="container" style="background-color: black;">
    <div class="container" id="footerContainer">
      <div class="row">
        <div class="col" id="card1">
          <p>Endereço </p>
          <a id="textCard"> Av. Dr. Maurício Cardoso 540 -
            Hamburgo Velho, Novo Hamburgo, RS
            Feevale Câmpus I
            Junto à recepção</a>
        </div>

        <div class="col-6" id="cardCentro">
          <p> Horário de funcionamento</p>
          <p id="textCentro"><i class="far fa-clock"> </i> Terças e Quintas <br>14:00 - 17:00</p><br> 
          <p id="textCentro"> *Somente com agendamentos. </p>
        </div>

        <div class="col" id="card1">
          <p> Contato</p>
          <p id="textCentro"><i class="fas fa-phone-alt fa-md"></i> (51) 3584-7101</p>
          <p id="textCentro"><i class="far fa-envelope"></i> mnc@feevale.br</p>
        </div>
      </div>
      <div class="row" id="rodape">
        <div class="col-6">
          <img src="assets/_img/tripe_sapateiro.png" class="rounded" id="sapateiro" alt="Tripe Sapateiro">
        </div>
        <div class="col-6">
          <img src="assets/_img/logo_fevale.svg" class="rounded" id="logoFeevale" alt="Logo Feevale">
        </div>
      </div>
    </div>
  </div>

</footer>