.eventos{
    position: relative;
    width: 100%;
    height: 100%;
}

.conteudoEvento{
    z-index: 4;
    width: 100%;
    height: 650px;
}
.imagemEvento {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.img-overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7259278711484594) 35%, rgba(0,0,0,0.3925945378151261) 70%, rgba(255,255,255,0) 100%);
    z-index: 3;
}

@media screen and (min-width: 1400px ){
    .img-overlayEvento2{
        width: 100%;
        height: 1000px;
    }
    .conteudoEvento{
        width: 100%;
        height: 1000px;
    }
    #ajusteEvento{
        padding-top: 250px;
    }
}


.tituloEvento{
    position: relative;
    color: white;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 140px;
    z-index: 4;
}
#contEvento{
    padding-bottom: 60px;
    z-index: 4;
}
#textEvento{
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
    display: block;
    align-items: center;
    z-index: 4;
}
#info{
    text-align: center;
    z-index: 4;
}
.col-sm a{
    text-align: center;
    
}
#simbolo{
    color: #967440;
    z-index: 4;

}
#descricaoEvento{
    padding-left: 22.5%;
    padding-right: 22.5%;
    z-index: 4;
}