<div class="eventos">
  <div class="conteudoEvento">
        
    
      <div *ngFor="let eventoApp of eventosApp">
        
        <img class="imagemEvento" src="http://ceted.feevale.br/museudocalcado/upload/{{eventoApp.img}}" alt="Card image cap" />
        <div class="img-overlay2"></div>

        <h2 class="tituloEvento" id="ajusteEvento">{{eventoApp.titulo}}</h2>

        <div class="container" id="contEvento">
          <div class="row">
            <div class="col-sm" id="info">
              <i class="far fa-clock fa-2x" id="simbolo"></i>
              <a id="textEvento"> {{eventoApp.horaAbertura}} às {{eventoApp.horaEncerramento}}</a>
            </div>

            <div class="col-sm" id="info">
              <i class="fas fa-map-marker-alt fa-2x" id="simbolo"></i>
              <a id="textEvento"> {{eventoApp.endereco}}</a>
            </div>
            <div class="col-sm" id="info">
              <i class="far fa-calendar-alt fa-2x" id="simbolo"></i>
              <a id="textEvento">{{eventoApp.dataInicio | date: 'dd/MM/yyyy'}} - {{eventoApp.dataFim | date: 'dd/MM/yyyy' }}</a>
            </div>
          </div>
        </div>
     
        <div id="descricaoEvento">
          <a id="textEvento">
            {{eventoApp.descricao}}
          </a>
        </div>
      </div>
    
  </div>
</div>