<div class="eventos">
  
  <div class="conteudoEvento">
    <img class="imagemEvento" src="/assets/_img/agenda/card1.jpg"  alt="Card image cap" />
    <div class="img-overlay2"></div>
    <h2 class="tituloEvento" id="ajusteEvento">
      Este Será um titulo majestoso
    </h2>
    <div class="container" id="contEvento">
      <div class="row">
        <div class="col-sm" id="info">
          <i class="far fa-clock fa-2x" id="simbolo"></i>
          <a id="textEvento">Horário</a>
        </div>

        <div class="col-sm" id="info">
          <i class="fas fa-map-marker-alt fa-2x" id="simbolo"></i>
          <a id="textEvento">Endereço</a>
        </div>
        <div class="col-sm" id="info">
          <i class="far fa-calendar-alt fa-2x" id="simbolo"></i>
          <a id="textEvento">Período</a>
        </div>
      </div>
    </div>

    <div id="descricaoEvento">
      <a id="textEvento">
        Vinho é, genericamente, uma bebida alcoólica produzida por fermentação
        do sumo de uva. Na União Europeia, o vinho é legalmente definido como o
        produto obtido exclusivamente por fermentação parcial ou total de uvas
        frescas, inteiras ou esmagadas, ou de mostos
      </a>
    </div>
  </div>

</div>