<footer *ngIf="nav.visible" id="footerEspace">
  <div class="container" style="background-color: black;">
    <div class="container" id="footerContainer">
      <div class="row">
        <div class="col" id="card1">
          <p>Endereço </p>
          <a id="textCard"> Av. Dr. Maurício Cardoso 540 -
            Hamburgo Velho, Novo Hamburgo, RS
            Feevale Câmpus I
            Junto à recepção</a>
        </div>

        <div class="col-6" id="cardCentro">
          <p> Horário de funcionamento</p>
          <p id="textCentro"><i class="far fa-clock"> </i> Terças e Quintas <br>14:00 - 17:00</p><br> 
          <p id="textCentro"> *Somente com agendamentos. </p>
        </div>

        <div class="col" id="card1">
          <p> Contato</p>
          <p id="textCentro"><i class="fas fa-phone-alt fa-md"></i> (51) 3584-7101</p>
          <p id="textCentro"><i class="far fa-envelope"></i> mnc@feevale.br</p>
        </div>
      </div>
      <div class="row" id="rodape">
        <div class="col-4">
          <img src="assets/_img/logoBrancoOficial.png" style="float: left;" class="rounded" id="logoFeevale" alt="Logo Oficial">
        </div>
        <div class="col-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row" id="logos">
                  <div class="col-md-6">
                    <a href="https://www.instagram.com/mncalcado/" target="_blank"> <img src="assets/_img/footer/linkedin.png" class="rounded" id="logoFeevale" alt="Logo Feevale"></a>
                  </div>
                  <div class="col-md-6">
                  <a href="https://www.linkedin.com/company/mncalcado/" target="_blank">  <img src="assets/_img/footer/insta.png" class="rounded" id="logoFeevale" alt="Logo Feevale"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-4">
          <a href="https://www.feevale.br/" target="_blank"> <img src="assets/_img/logo_fevale.svg" style="float: right;" class="rounded" id="logoFeevale" alt="Logo Feevale"></a>
        </div>
      </div>
    </div>
  </div>

</footer>