<nav *ngIf="nav.visible"  class="navbar navbar-expand-lg nav-main ">
  <a routerLink="home"> <img src="assets/_img/logoBrancoOficial.png" class="rounded "  id="logoOficial" alt="Logo Oficial"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="fas fa-bars" id="initFa2"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-md-auto">
      <a class="nav-item nav-link active" routerLinkActive="selected" routerLink="museu" >O Museu <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLinkActive="selected" routerLink="noticias">Notícias</a>
      <a class="nav-item nav-link" routerLinkActive="selected" routerLink="informacoes">Informações</a>
    </div>
  </div>
</nav>

