<div class="content">
  <div class="container" id="containerAcervo">
    <h1 id="firstTitulo">Mais de 25 mil Calçados</h1>
    <form >
      <div class="form-row" >
        <label id="dropdownMenuButton" class="col-sm-2 col-form-label"
          >Filtros:
        </label>
        <div class="dropdown" id="dropInicial">
          <button
            class="btn btn-light dropdown-toggle"
            id="botaoDrop"
            type="button"
            id="botaoDrop"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Data
          </button>
          <div class="dropdown-menu" aria-labelledby="botaoDrop">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="botaoDrop"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Modelos
          </button>
          <div class="dropdown-menu" aria-labelledby="botaoDrop">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="botaoDrop"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            País de Origem
          </button>
          <div class="dropdown-menu" aria-labelledby="botaoDrop">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="input-group col-sm-5">
          <input
            type="text"
            class="form-control"
            placeholder="Digite sua busca"
          />
          <div class="input-group-append">
            <button class="btn btn-success" id="btnBusca" type="submit">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div id="containerGallery">
      <ul id="gallery_box">
        <li id="gallery_box_1">
          <a href="#0">
            <img id="boxImg" src="/assets/_img/acervo/img1.jpg" />
          </a>
        </li>
        <li id="gallery_box_2">
          <a href="#0"
            ><img id="boxImg" src="/assets/_img/acervo/img2.jpg" />
            </a>
        </li>
        <li id="gallery_box_3">
          <a href="#0">
            <img id="boxImg" src="/assets/_img/acervo/img3.jpg"/>
          </a>
        </li>
        <li id="gallery_box_4">
          <a href="#0">
            <img id="boxImg" src="/assets/_img/acervo/img4.jpg" />
          </a>
        </li>
        <li id="gallery_box_5">
          <a href="#0">
            <img id="boxImg" src="/assets/_img/acervo/img5.jpg" />
          </a>
        </li>
        <li id="gallery_box_6">
          <a href="#0"
            ><img id="boxImg" src="/assets/_img/acervo/img6.jpg" />
          </a>
        </li>
      </ul>
      <div class="container">
        <p id="textAcervo">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Id
          consectetur purus ut faucibus pulvinar elementum integer enim neque.
          Facilisis mauris sit amet massa vitae tortor condimentum. Sit amet
          consectetur adipiscing elit pellentesque habitant morbi tristique.
          Mauris sit amet massa vitae tortor condimentum lacinia. Aliquam
          faucibus purus in massa. Bibendum neque egestas congue quisque
          egestas.
        </p>
      </div>
    </div>
  </div>
</div>