

  .acervoMenu li ul li {
    background-color: rgba(0, 0, 0, 0.55);
    background-color: rgba(0, 0, 0, 0.95);
    display: block;
    width: 100%;
    border: 0 transparent;
 
      }
      #finalAcervo {
        padding-top: 45px;
        padding-bottom: 45px;
      }

      #containerAcervo{
        width: 100%;
        max-width: 900px;
        width: auto;
    }
    #fundoAcervo{
        padding-top: 70px;
        background-color:rgba(0, 0, 0, 0.85);
    }
    .gallery{
        padding-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 7vw);
        row-gap: 0px;
        column-gap: 15px;
    }
    
    .gallery__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .gallery__item--1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2.5;
    }
    .gallery__item--3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .gallery__item--4 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gallery__item--5 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .gallery__item--6 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .gallery__item--8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .gallery__item--9 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    .gallery__item--10 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .gallery__item--11 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    
    .gallery__item--12 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #finalAcervo{
        padding-bottom: 45px;
    }

    @media screen and (max-width : 480px) {

        figure {
            margin: 1px 1px 1px 1px;
        }
    }