<div class="timeline-content"
	[ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}">

	<div class="process-wrapper">
		<section id="progress-content-section">
			<div class="container " id="responsivo">
				<div class="section-content content1 active">
					
					<h2> ABSOLUTAMENTE CARRASCO </h2>
					<div id="linha-horizontal"></div>
					<textarea disabled class="teste" cols="2" rows="7" id="timeText">A mostra comemorativa de 1 ano de abertura do MNC reuniu as obras de José Maria Carrasco Menna (in memoriam) que brilharam em uma exposição com suas criações. O estilista e modelista esteve presente no evento.
					</textarea>
				</div>


				<div class="section-content content2">
					<h2>PRIMEIRA EXPOSIÇÃO DO MNC FORA DO ESTADO</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled class="teste" cols="2" rows="7" id="timeText">Francal 2000 – O Museu Nacional do Calçado levou a São Paulo, no evento FRANCAL, parte do seu acervo, uma exposição com peças históricas e curiosidades.</textarea>
				</div>

				<div class="section-content content3">
					<h2>DOAÇÃO BANCADA DO SAPATEIRO</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">“...longe dos sapatos da modernidade, o sapateiro pisa no tapete do tempo...”
(Rosa Clemet)
Com dedicação o artesão mede o pé da moça em sua bancada para a produção do seu sapatos. Mãos calejadas criam modelos acarinhados, exclusivos, satisfazendo as Cinderelas. A banca de sapateiro é o legado do senhor Nestor Erni Dullus que	exerceu essa nobre profissão durante toda sua vida cujo artigos pessoais e de trabalho foram doados pela família ao MNC.</textarea>
					
				</div>

				<div class="section-content content4">
					<h2>ABERTURA EXPOSIÇÃO PERMANENTE MNC</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">O Museu teve logo no seu início de fundação a Inauguração da primeira mostra permanente (2001), que continha peças de vários nomes conhecidos do nosso esporte, uma linha do tempo com exposição história e outras curiosidades.</textarea>
				</div>

				<div class="section-content content5">
					<h2>SAPATO VENCEDOR DO PRÊMIO OSCAR DO CALÇADO</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">O MNC recebeu em doação os mais criativos calçados já confeccionados, pensados e criados por diversos estilistas. Muitos deles recebendo premiações nacionais e internacionais, como o Sapato de escama de peixes, criado por Ruy Chaves, que recebeu o Oscar do calçado em 1971.</textarea>
					
				</div>
				<div class="section-content content6">
					<h2>EXPOSIÇÕES COMEMORATIVAS: EVENTOS ESPORTIVOS</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">O MNC sempre promove exposições temáticas com os acontecimentos mundiais, principalmente os esportivos, como Copa do Mundo e Olimpíadas:
Com a temática Copa do Mundo, o Museu Nacional do Calçado, e com a temática da Semana de Museus	do IBRAM, trouxe uma exposição de artigos que as pessoas costumam colecionar durante esse período festivo que envolve e encanta o mundo todo.</textarea>

					
				</div>
				<div class="section-content content7">
					<h2>EXPOSIÇÕES EM PARCERIA COM OS CURSO DA UNIVERSIDADE FEEVALE </h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">O MNC tem o objetivo de cumprir esse papel social, cultural e educativo, com isso enfatiza e realiza diversas ações com os cursos da Universidade Feevale. 
Exposição Vestidos de Cinema: moda e arte na tela – com curso de Moda Feevale
Na mostra Vestido de Cinema: Moda e Arte na tela havia diversas reinterpretações de figurinos filmes de época, desde a Idade Média até a Belle Époque</textarea>
					
				</div>

				<div class="section-content content8">
					<h2>EXPOSIÇÕES EXTERNAS COM PARCEIROS</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">O MNC conta com diversos parceiros e está presente, através deles, em diversos eventos.
Exposição "Entre Fauna e Flora: A natureza inspira!" - Feira Loucura por Sapatos, FENAC, com sapatos inspirados nas Aves e Insetos do Rio Gamá, do Belém do Pará e a relação dos cariocas com a Botânica do Jardim Botânico do Rio de Janeiro.</textarea>
				</div>

				<div class="section-content content9">
					<h2>EXPOSIÇÕES EXTERNAS EM EVENTOS DO SETOR</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">Além dos parceiros fixos do MNC, também se faz presente em diversos eventos do setor coureiro calçadista com exposições, palestras e workshops.
EXPOSIÇÃO “UM SÉCULO DE MODA” - MARATONA MMX - ABICALÇADOS
Em uma linha cronológica, a exposição Um Século de Moda trás a evolução da história do Calçado com peças de 1909 - 2009.</textarea>
					
				</div>

				<div class="section-content content10">
					<h2>EXPOSIÇÃO COMEMORATIVA 50 ANOS ASPEUR E 20 ANOS MUSEU NACIONAL DO CALÇADO</h2>
					<div id="linha-horizontal"></div>
					<textarea disabled cols="2" rows="7" id="timeText">LEGADO E MEMÓRIAS: MUSEU NACIONAL DO CALÇADO
A exposição Legado e Memórias, em comemoração aos 20 anos do MNC e 50 anos da ASPEUR, sua mantenedora, trás uma homenagem aos três mosqueteiros do Calçado: Ruy Chaves, Jose Maria Carrasco Menna e Carlos Gilberto Simon.	Personalidades notáveis no setor coureiro-calçadista na região estes nomes têm grande peso na história e desenvolvimento da região do Vale do Rio dos Sinos.</textarea>
				</div>

			</div>
		</section>

		<div id="progress-bar-container">
			<div id="line">
				<div id="line-progress"></div>
			</div>
			<ul>
				<li class="step step01 active" (click)="onClick()">
					<div class="step-inner"></div>
				</li>
				<li class="step step02" (click)="onClick1()">
					<div class="step-inner"></div>
				</li>
				<li class="step step03" (click)="onClick2()">
					<div class="step-inner"></div>
				</li>
				<li class="step step04" (click)="onClick3()">
					<div class="step-inner"></div>
				</li>
				<li class="step step05" (click)="onClick4()">
					<div class="step-inner"></div>
				</li>
				<li class="step step06" (click)="onClick5()">
					<div class="step-inner"></div>
				</li>
				<li class="step step07" (click)="onClick6()">
					<div class="step-inner"></div>
				</li>
				<li class="step step08" (click)="onClick7()">
					<div class="step-inner"></div>
				</li>
				<li class="step step09" (click)="onClick8()">
					<div class="step-inner"></div>
				</li>
				<li class="step step10" (click)="onClick9()">
					<div class="step-inner"></div>
				</li>
			</ul>
			<div class="setaEsq"></div>
			
			<div class="setaDir"></div>
		</div>

	</div>
</div>