<div class="content">
  <div class="container" style="margin-top: 100px;">
    <div class="form-inline">
      <div class="form-group mb-2" style="color: white;">
        Filtro 
        <input
          type="text"
          class="form-control mr-2"
          placeholder="buscar"
          [(ngModel)]="filtroLista"
        />
        <button class="btn btn-outline-success">Buscar </button>
      </div>
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="novoUsuario(template)">
        <i class="fa fa-plus-circle"></i>&nbsp; Novo Usuario
      </button>
    </div>
    <h3 style="color: white;">Filtro: {{ filtroLista }}</h3>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
            <button
              class="btn btn-outline-primary"
              (click)="alternarImagem()"
              tooltip="Ocultar"
            >
              <i
                class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"
              ></i>
            </button>
          </th>
          <th>ID</th>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Setor</th>
          <th>Cargo</th>
          <th>Senha</th>
          <th>Gerenciar</th>
        </tr>
      </thead>

      
      <tbody *ngIf="usuariosApp && usuariosApp.length">
        <tr *ngFor="let usuarioApp of usuariosFiltrados">
          <td>
            <img
              *ngIf="mostrarImagem"
              src="http://localhost:5000/img/{{ usuarioApp.imgUrl }}"
              [style.width.px]="imgLargura"
              [style.margin.pc]="imgMargem"
            />
          </td>
          <td>{{ usuarioApp.id }}</td>
          <td>{{ usuarioApp.matricula }}</td>
          <td>{{ usuarioApp.nome }}</td>
          <td>{{ usuarioApp.cpf }}</td>
          <td>{{ usuarioApp.email }}</td>
          <td>{{ usuarioApp.telefone }}</td>
          <td>{{ usuarioApp.setor }}</td>
          <td>{{ usuarioApp.cargo }}</td>
          <td>{{ usuarioApp.senha }}</td>
          <td>
            <div class="btn-group">
              <button
                class="btn btn-sm btn-success"
                tooltip="Editar"
                (click)="editarUsuario(usuarioApp, template)"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                tooltip="Excluir"
                (click)="excluirUsuario(usuarioApp, confirm)"
              >
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!usuariosApp">
        <td colspan="7" class="text-center">
          <h4>
            Nenhum Usuário encontrado!
          </h4>
        </td>
      </tfoot>
    </table>

    <div
      bsModal
      #template="bs-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-sizes-name1"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">
              Large modal
            </h4>
            <button
              type="button"
              class="close pull-right"
              (click)="template.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('nome').errors &&
                        registerForm.get('nome').touched
                    }"
                    formControlName="nome"
                    placeholder="Insira o Nome"
                  />
                  <div
                    *ngIf="
                      registerForm.get('nome').hasError('required') &&
                      registerForm.get('nome').touched
                    "
                    class="invalid-feedback"
                  >
                    Nome é obrigatório.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Matricula</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="matricula"
                    placeholder="Insira a matricla"
                  />
                  <div
                    *ngIf="
                      registerForm.get('matricula').hasError('minlength') &&
                      registerForm.get('matricula').touched
                    "
                    class="invalid-feedback"
                  >
                    Matricula deve ter no mínimo 7 Caracteres.
                  </div>
                  <div
                    *ngIf="
                      registerForm.get('matricula').hasError('maxlength') &&
                      registerForm.get('matricula').touched
                    "
                    class="invalid-feedback"
                  >
                    Matricula deve ter no máximo 7 Caracteres.
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>CPF</label>
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('cpf').errors &&
                        registerForm.get('cpf').touched
                    }"
                    formControlName="cpf"
                    placeholder="CPF"
                  />
                  <div
                    *ngIf="
                      registerForm.get('cpf').hasError('required') &&
                      registerForm.get('cpf').touched
                    "
                    class="invalid-feedback"
                  >
                    CPF é obrigatório.
                  </div>
                  <div
                    *ngIf="
                      registerForm.get('cpf').hasError('minlength') &&
                      registerForm.get('cpf').touched
                    "
                    class="invalid-feedback"
                  >
                    CPF deve ter no mínimo 11 Caracteres.
                  </div>
                  <div
                    *ngIf="
                      registerForm.get('cpf').hasError('maxlength') &&
                      registerForm.get('cpf').touched
                    "
                    class="invalid-feedback"
                  >
                    CPF deve ter no máximo 11 Caracteres.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('email').errors &&
                        registerForm.get('email').touched
                    }"
                    formControlName="email"
                    placeholder="E-mail"
                  />
                  <div
                    *ngIf="
                      registerForm.get('email').hasError('required') &&
                      registerForm.get('email').touched
                    "
                    class="invalid-feedback"
                  >
                    Email é obrigatório.
                  </div>
                  <div
                    *ngIf="
                      registerForm.get('email').hasError('email') &&
                      registerForm.get('email').touched
                    "
                    class="invalid-feedback"
                  >
                    Deve ser um e-mail válido.
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Telefone</label>
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('telefone').errors &&
                        registerForm.get('telefone').touched
                    }"
                    formControlName="telefone"
                    placeholder="telefone"
                  />
                  <div
                    *ngIf="
                      registerForm.get('telefone').hasError('required') &&
                      registerForm.get('telefone').touched
                    "
                    class="invalid-feedback"
                  >
                    Telefone é obrigatório.
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                  <label>Setor</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="setor"
                  />
                </div>
                <div class="form-group col-md-9">
                  <label>Cargo</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cargo"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Senha</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="senha"
                  />
                  <div
                    *ngIf="
                      registerForm.get('senha').hasError('required') &&
                      registerForm.get('senha').touched
                    "
                    class="invalid-feedback"
                  >
                    Senha é obrigatório.
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Foto Perfil</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="imgUrl"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex">
            <button class="btn btn-secondary" (click)="template.hide()">
              Fechar
            </button>
            <button
              class="btn btn-primary ml-auto"
              (click)="salvarAlteracao(template)"
            >
              Salvar Alterações
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      bsModal
      #confirm="bs-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-sizes-name1"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">
              Deletando Usuario
            </h4>
            <button
              type="button"
              class="close pull-right"
              (click)="confirm.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ bodyDeletarUsuario }}</p>
          </div>
          <div class="modal-footer btn-group d-flex">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="confirm.hide()"
            >
              CENCELAR
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="confirmeDelete(confirm)"
            >
              DELETAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
