<div class="container" id="conteudo">
  <div class="container" id="museuContainer">
    <h2 id="firstTitulo">Quem Somos</h2>
    <p id="textGeral">
      A cidade de Novo Hamburgo, denominada também como Capital Nacional do Calçado, sempre esperou por um espaço
      que
      guardasse a memória do setor coureiro calçadista, que trouxe progresso e crescimento ao Vale do Rio dos Sinos,
      no Rio
      Grande do Sul. Em 1998, este desejo se torna realidade, através de uma proposta com estes objetivos.
    </p>
    <p id="textGeral">
      Apoiado pela Universidade Feevale e pelas entidades empresariais, objetivando ser o agente cultural,
      educacional e de
      pesquisa voltada ao setor produtivo, à cultura material e à comunidade, se torna possível. Nasce o Museu
      Nacional do
      Calçado criado pelo Decreto Municipal de número 159/98 de 20 de outubro de 1998 e sob a tutela dos mesmos
      incentivadores, foi inaugurado em setembro de 1999 com a primeira doação, feita pelo Sr. Gilberto Simon.
    </p>
    <p id="textGeral">
      O Museu Nacional do Calçado implanta e acresce com projetos através das exposições permanentes, mostra-se o
      histórico do
      setor coureiro calçadista. Visitas guiadas, fotos, documentários, concursos, palestras e exposições
      itinerantes são as
      ações que se propõe, sendo assim um espaço dinâmico e interativo.
    </p>
    <p id="textGeral">
      A identificação com o passado, unida ao desejo de superar o cotidiano e enriquecer o já existente, oportuniza
      a harmonia
      com a natureza e a sociedade, integrando à criação e à inovação ao meio cultural, sendo há um tempo singular
      na
      criatividade e ao mesmo tempo universal pela abrangência da obra.
    </p>
  </div>
</div>