<div class="contentNoticias">

    <div class="container" id="noticiaConteiner">

        <h2 id="mainTitulo">Acontece</h2>

        <!--   <div *ngIf="eventos && eventos.length">
        <ul *ngFor="let evento of eventos">   -->
        <div>
            <ul>
                <div id="linha-horizontal"></div>
                <h3 id="noticiaAssunto"> Novo Hamburgo, abril 2020 </h3>
                <li>
                    <h2 id="noticiaTitulo">Biodiversidade brasileira é temática de mostra do Museu Nacional do Calçado
                        <!-- {{evento.titulo}}-->
                    </h2>
                </li>
                <h4 id="noticiaInfoExtra"> Aqui teremos outro teste </h4>
            </ul>

            <ul>
                <div id="linha-horizontal"></div>
                <h3 id="noticiaAssunto">Novo Hamburgo, abril 2020</h3>
                <li>
                    <h2 id="noticiaTitulo">Oficina de personalização de calçados teve participação da comunidade
                        <!-- {{evento.titulo}}-->
                    </h2>
                </li>
                <h4 id="noticiaInfoExtra"> Aqui teremos outro teste</h4>
            </ul>
            <ul>
                <div id="linha-horizontal"></div>
                <h3 id="noticiaAssunto">Novo Hamburgo, abril 2020 </h3>
                <li>
                    <h2 id="noticiaTitulo">Verão de 1900 é destaque em mostra do Museu Nacional do Calçado
                        <!-- {{evento.titulo}}-->
                    </h2>
                </li>
                <h4 id="noticiaInfoExtra"> Aqui teremos outro teste</h4>
            </ul>
            <ul>
                <div id="linha-horizontal"></div>
                <h3 id="noticiaAssunto">Novo Hamburgo, abril 2020 </h3>
                <li>
                    <h2 id="noticiaTitulo">Museu Nacional do Calçado conta com nova exposição
                        <!-- {{evento.titulo}}-->
                    </h2>
                </li>
                <h4 id="noticiaInfoExtra"> Aqui teremos outro teste </h4>
            </ul>

        </div>
    </div>


</div>