
.contentNoticias{
    width: 100%;
    height: 100%;
    padding-top: 140px;
    background-color: white;
    padding-bottom: 1px;
}

#noticiaContainer{
    width: 50%;
}
#espacoNt{
    margin-top: 20px;
}
#mainTitulo{
    position: relative;
    color: black;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: 70px;
    z-index: 4;
}

li {
    list-style-type: none;
}

#linha-horizontal {
    border: solid rgb(88, 88, 88);
	border-width: 0.2em ;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    margin: 0 auto;
    width: 1000px;
}

#noticiaTitulo{
    font-family: Merriweather;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    margin-left: 20px;
    text-align: justify;
}

#noticiaAssunto{
    font-family: Merriweather;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 15px;
}

#noticiaInfoExtra{
    font-family: Merriweather;
    font-style: normal;
    font-size: 13px;
    text-overflow: ellipsis; 
    color: rgb(138, 138, 138);
    margin-left: 20px;
}

#image{
    margin-left: 20px;
    height: 60mm;
    width: 80mm;
}
/* date:"dd/MM/yyyy" -- */ 