<div class="contentNoticias">
    <div class="container" id="noticiaConteiner">
        <h2 id="mainTitulo">Notícias</h2>

        <div class="row">
            <ul *ngFor="let noticiaApp of noticiasApp | slice:0:5; let i=index">
                <li id="linha-horizontal">
                    
                    <div class="container">
                        
                        <div class="row" id="pt1">
                            <div class="col-sm-4" id="espacoNt">
                                <a class="grow" id="imgLink" href="{{noticiaApp.tituloUrl}}"> <img id="image" src="{{noticiaApp.midia}}"></a>
                            </div>
                            <div class="col-sm-8">
                                <h3  id="noticiaInfoExtra">  {{ noticiaApp.dataCadastro | date: 'dd/MM/yyyy' }}</h3>
                                <h2 id="noticiaTitulo">   {{ noticiaApp.titulo }}  </h2>
                                <h3 id="noticiaAssunto">{{ noticiaApp.resumo }} </h3>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>